# Tổng quan đề tài

Bạn nhận được Cơ sở dữ liệu bóng đá châu Âu có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016. Mục tiêu là bạn xem qua cơ sở dữ liệu này và thực hiện phân tích, bao gồm một số bước khám phá dữ liệu, thống kê cơ bản và sau đó bạn hình dung kết quả. Để hoàn thành tất cả các bước, bạn cần truy vấn dữ liệu trong cơ sở dữ liệu bằng cách sử dụng câu lệnh SQL. Đề tài này thực hành bạn viết lệnh SQL để kéo dữ liệu về và trích xuất nó.

Tải dữ liệu bóng đá Châu Âu tại đây

# Mô tả dữ liệu

Cơ sở dữ liệu bóng đá châu Âu này có hơn 25.000 trận đấu và hơn 10.000 cầu thủ cho các mùa bóng đá chuyên nghiệp châu Âu từ 2008 đến 2016, 11 quốc gia châu Âu với chức vô địch dẫn đầu. Các thuộc tính của Người chơi và Đội có nguồn gốc từ loạt trò chơi video FIFA của EA Sports, bao gồm các bản cập nhật hàng tuần.

<table style="width: 100%;">
<tbody>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Table</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Total Rows</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Total Columns</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Columns</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Country</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">2</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, name</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">League</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">3</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, country_id, name</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Match</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">25979</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">115</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_X1, home_player_X2, home_player_X3, home_player_X4, home_player_X5, home_player_X6, home_player_X7, home_player_X8, home_player_X9, home_player_X10, home_player_X11, away_player_X1, away_player_X2, away_player_X3, away_player_X4, away_player_X5, away_player_X6, away_player_X7, away_player_X8, away_player_X9, away_player_X10, away_player_X11, home_player_Y1, home_player_Y2, home_player_Y3, home_player_Y4, home_player_Y5, home_player_Y6, home_player_Y7, home_player_Y8, home_player_Y9, home_player_Y10, home_player_Y11, away_player_Y1, away_player_Y2, away_player_Y3, away_player_Y4, away_player_Y5, away_player_Y6, away_player_Y7, away_player_Y8, away_player_Y9, away_player_Y10, away_player_Y11, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, goal, shoton, shotoff, foulcommit, card, cross, corner, possession, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, LBH, LBD, LBA, PSH, PSD, PSA, WHH, WHD, WHA, SJH, SJD, SJA, VCH, VCD, VCA, GBH, GBD, GBA, BSH, BSD, BSA</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Player</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">11060</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">7</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, player_api_id, player_name, player_fifa_api_id, birthday, height, weight</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">Player_Attributes</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">183978</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">42</span></p>
</td>
<td>
<p><span style="font-family: arial, helvetica, sans-serif;">id, player_fifa_api_id, player_api_id, date, overall_rating, potential, preferred_foot, attacking_work_rate, defensive_work_rate, crossing, finishing, heading_accuracy,

# Gọi thư viện Python

In [53]:
#Import libraries
import numpy as np
import pandas as pd
import sqlite3
from datetime import timedelta
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

## Câu hỏi 1: Kết nối tới cơ sở dữ liệu và truy vấn thông tin của tất cả các bảng

Đọc https://docs.python.org/2/library/sqlite3.html

Học viên chỉ sử dụng câu lệnh SQL để truy vấn kế quả, không được sử dụng câu lệnh Pandas để tính toán ra kết quả.

In [54]:
# Kết nối với cơ sở dữ liệu
# ĐIỀN CODE VÀO ĐÂY
conn = sqlite3.connect("./Data/database.sqlite")

# Lấy thông tin của tất cả bảng
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

## Câu hỏi 2: Liệt kê các quốc gia có trong dữ liệu bảng "Country"

In [55]:
# ĐIỀN CODE VÀO ĐÂY
result_2 = pd.read_sql("SELECT * FROM Country;", conn)
result_2

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

## Câu hỏi 3: Liệt kê các giải đấu trong bảng "League"

In [56]:
# ĐIỀN CODE VÀO ĐÂY
result_3 = pd.read_sql("SELECT * FROM League;", conn)
result_3

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

## Câu hỏi 4: Liệt kê các giải đấu và thông tin quốc gia của từng league

Bảng League có quan hệ với bảng Country qua khóa country_id.

In [57]:
# ĐIỀN CODE VÀO ĐÂY
result_4 = pd.read_sql("""  
                        SELECT      L.Name AS League_Name, C.Name AS Country_Name
                        FROM        League AS L
                        INNER JOIN  Country AS C
                        ON          L.Country_Id = C.Id;
                       """, conn)
result_4

                 League_Name Country_Name
0     Belgium Jupiler League      Belgium
1     England Premier League      England
2             France Ligue 1       France
3      Germany 1. Bundesliga      Germany
4              Italy Serie A        Italy
5     Netherlands Eredivisie  Netherlands
6         Poland Ekstraklasa       Poland
7   Portugal Liga ZON Sagres     Portugal
8    Scotland Premier League     Scotland
9            Spain LIGA BBVA        Spain
10  Switzerland Super League  Switzerland

## Câu hỏi 5: Liệt kê các trận đấu trong bảng  “Match”
- Khi một đội là chủ nhà, đội đó là "home team". Đội còn lại là "away team"
- Trong bảng Match, mỗi dòng dư liệu là một trận đấu của một đội chủ nhà và đội khách, tương ứng với kết quả ghi bàn đội nhà (home goal) và đội khách (away goal).

In [58]:
# ĐIỀN CODE VÀO ĐÂY
result_5 = pd.read_sql("""  
                        SELECT      *
                        FROM        Match;
                       """, conn)
result_5

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,...,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,...,195215.0,462944.0,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,1.0,3.0,5.0,7.0,2.0,4.0,6.0,8.0,5.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,9.0,11.0,11.0,1.0,3.0,3.0,3.0,3.0,7.0,...,37257.0,42276.0,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,...,289472.0,10637.0,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,1.0,2.0,4.0,6.0,8.0,3.0,7.0,5.0,3.0,5.0,7.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,...,178142.0,274776.0,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,...,71764.0,156175.0,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Câu hỏi 6: Liệt kê các trận đấu và thông tin về leage và country tương ứng

Bảng Match có quan hệ với :
 - Bảng Country thông qua khóa country_id
 - Bảng League thông qua khóa League_id

Sử dụng câu lệnh join để kết nối dư liệu từ 3 bảng trên.

In [63]:
# ĐIỀN CODE VÀO ĐÂY
result_6 = pd.read_sql("""  
                        SELECT      
                            M.Id AS Match_Index, 
                            L.Name AS League_Name, 
                            C.Name AS Country_Name
                        FROM        
                            Match AS M
                            INNER JOIN  Country AS C ON M.Country_Id = C.Id
                            INNER JOIN  League AS L ON M.League_Id = L.Id;
                       """, conn)
result_6

       Match_Index               League_Name Country_Name
0                1    Belgium Jupiler League      Belgium
1                2    Belgium Jupiler League      Belgium
2                3    Belgium Jupiler League      Belgium
3                4    Belgium Jupiler League      Belgium
4                5    Belgium Jupiler League      Belgium
...            ...                       ...          ...
25974        25975  Switzerland Super League  Switzerland
25975        25976  Switzerland Super League  Switzerland
25976        25977  Switzerland Super League  Switzerland
25977        25978  Switzerland Super League  Switzerland
25978        25979  Switzerland Super League  Switzerland

[25979 rows x 3 columns]

## Câu hỏi 7: Liệt kê số lượng trận đấu của mỗi giải đấu bao gồm cả tên giải đấu, sắp xếp theo thứ tự giảm dần số trận đấu

In [72]:
# ĐIỀN CODE VÀO ĐÂY
result_7 = pd.read_sql("""  
                        SELECT      
                            L.Name AS League_Name,
                            COUNT(*) AS Number_of_Matchs
                        FROM        
                            Match AS M
                            INNER JOIN  League AS L ON M.League_Id = L.Id
                        GROUP BY 
                            L.Id
                        ORDER BY
                            COUNT(*) DESC
                       ;""", conn)
result_7

                 League_Name  Number_of_Matchs
0            Spain LIGA BBVA              3040
1             France Ligue 1              3040
2     England Premier League              3040
3              Italy Serie A              3017
4     Netherlands Eredivisie              2448
5      Germany 1. Bundesliga              2448
6   Portugal Liga ZON Sagres              2052
7         Poland Ekstraklasa              1920
8    Scotland Premier League              1824
9     Belgium Jupiler League              1728
10  Switzerland Super League              1422

## Câu hỏi 8: Liệt kê tổng số bàn thắng của đội nhà và đội khách trong mỗi giải đấu
- Sử dụng câu lệnh Group By

In [78]:
# ĐIỀN CODE VÀO ĐÂY
result_8 = pd.read_sql("""  
                        SELECT      
                            L.Name AS League_Name,
                            SUM(M.home_team_goal) AS `Total home team goals`,
                            SUM(M.away_team_goal) AS `Total away team goals`
                        FROM        
                            Match AS M
                            INNER JOIN  League AS L ON M.League_Id = L.Id
                        GROUP BY 
                            L.Id
                       ;""", conn)
result_8

                 League_Name  Total home team goals  Total away team goals
0     Belgium Jupiler League                   2781                   2060
1     England Premier League                   4715                   3525
2             France Ligue 1                   4265                   3162
3      Germany 1. Bundesliga                   3982                   3121
4              Italy Serie A                   4528                   3367
5     Netherlands Eredivisie                   4357                   3185
6         Poland Ekstraklasa                   2678                   1978
7   Portugal Liga ZON Sagres                   2890                   2311
8    Scotland Premier League                   2607                   2197
9            Spain LIGA BBVA                   4959                   3453
10  Switzerland Super League                   2365                   1801

## Câu hỏi 9: Liệt kê thông tin các đội từ bảng “Team”

In [79]:
# ĐIỀN CODE VÀO ĐÂY
result_9 = pd.read_sql("""  
                        SELECT      
                            *
                        FROM        
                            Team
                       ;""", conn)
result_9

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

## Câu hỏi 10: Liệt kê 20 đội với số bàn thắng sân nhà cao nhất
- Sử dung câu lênh GROUP BY, LIMIT

In [93]:
# ĐIỀN CODE VÀO ĐÂY
result_10 = pd.read_sql("""  
                        SELECT   
                            T.team_api_id,   
                            T.team_long_name,
                            SUM(M.home_team_goal) AS `Total goals as a home team`
                        FROM        
                            Match AS M
                            INNER JOIN  Team AS T ON M.home_team_api_id = T.team_api_id
                        GROUP BY 
                            T.team_api_id
                        ORDER BY
                            `Total goals as a home team` DESC
                        LIMIT
                            20
                       ;""", conn)
result_10

    team_api_id       team_long_name  Total goals as a home team
0          8633       Real Madrid CF                         505
1          8634         FC Barcelona                         495
2          9925               Celtic                         389
3          9823     FC Bayern Munich                         382
4          8640                  PSV                         370
5          8456      Manchester City                         365
6          8593                 Ajax                         360
7          9931             FC Basel                         344
8         10260    Manchester United                         338
9          8455              Chelsea                         333
10         9847  Paris Saint-Germain                         332
11         9906      Atlético Madrid                         321
12         9772           SL Benfica                         321
13        10192       BSC Young Boys                         319
14         9885             Juventus                         307
15         9825              Arsenal                         306
16         9875               Napoli                         303
17        10267          Valencia CF                         299
18         8686                 Roma                         299
19         9789    Borussia Dortmund                         298

## Câu hỏi 11: Liệt kê 20 đội có số bàn thắng trên sân khách cao nhất
- Sử dụng câu lênh GROUP BY, LIMIT

In [92]:
# ĐIỀN CODE VÀO ĐÂY
result_11 = pd.read_sql("""  
                        SELECT   
                            T.team_api_id,   
                            T.team_long_name,
                            SUM(M.away_team_goal) AS `Total goals as a away team`
                        FROM        
                            Match AS M
                            LEFT JOIN Team AS T ON M.away_team_api_id = T.team_api_id
                        GROUP BY 
                            T.team_api_id
                        ORDER BY
                            `Total goals as a away team` DESC
                        LIMIT
                            20
                       ;""", conn)
result_11

    team_api_id       team_long_name  Total goals as a away team
0          8634         FC Barcelona                         354
1          8633       Real Madrid CF                         338
2          9925               Celtic                         306
3          8593                 Ajax                         287
4          8640                  PSV                         282
5          9931             FC Basel                         275
6          9823     FC Bayern Munich                         271
7          9825              Arsenal                         267
8          9789    Borussia Dortmund                         253
9          8455              Chelsea                         250
10         9772           SL Benfica                         247
11         9773             FC Porto                         246
12        10260    Manchester United                         244
13         8456      Manchester City                         241
14         8650            Liverpool                         237
15         9885             Juventus                         236
16         9847  Paris Saint-Germain                         236
17         8686                 Roma                         231
18        10243            FC Zürich                         227
19         8586    Tottenham Hotspur                         226

## Câu hỏi 12: Liệt kê tên các đội bóng và tổng số bàn thắng mỗi đội, sắp xếp  theo số lượng giảm dần

- Tổng số bàn thắng của một đội bao gồm cả số bàn thắng ở sân nhà và sân khách.
- Sử dụng câu lệnh Union

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 13: Liệt kê tên các đội bóng (long name) và tổng số trận đấu đội đó tham gia, sắp xếp theo thứ tự giảm dần.

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 14: Liệt kê số trận thắng, thua và hòa của mỗi đội.

- Nếu một đội có số lượng bàn thắng trên sân nhà > số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thắng" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà < số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "thua" trong trận đấu này
- Nếu một đội có số lượng bàn thắng trên sân nhà = số lượng bàn thắng trên sân khách của chính đội đó, thì đội đó sẽ "hòa" trong trận đấu này
- Sử dụng câu lệnh "Case When"

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 15: Liệt kê 10 đội có số trận thắng nhiều nhất

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 16: Liệt kê tỉ lệ phần trăm về số trận của mỗi giải trên tổng tất cả các trận

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 17: Liệt kê tỉ lệ phần trăm về số bàn ghi được của từng giải so với tổng số bàn của tất cả các trận.

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 18: Liệt kê tổng số bàn ghi được của từng giải đấu theo từng mùa giải.

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 19: Liệt kê thông tin cầu thủ:

- Quy đổi cân nặng sang kilogram
- Quy đổi chiều cao sang mét
- Tính chỉ số bmi = ( (weight* 0.453592) / (height/100)^2)
- Tính tuổi của cầu thủ

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 20: Liệt kê cầu thủ lớn tuổi nhất

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 21: Liệt kê  cầu thủ có số trận đấu nhiều nhất

In [ ]:
# ĐIỀN CODE VÀO ĐÂY

## Câu hỏi 22: Liệt kê các cầu thủ có tổng số điểm đánh giá lớn hơn 80

In [ ]:
# ĐIỀN CODE VÀO ĐÂY